<footer class="page-footer font-small bg-dark pt-4 text-light text-center">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-4">
                <h5 class="text-uppercase">Team</h5>
                <ul class="list-unstyled">
                    <li>José Eduardo Kotásek</li>
                    <li>Luis Maximiliano Castillo</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5 class="text-uppercase">Back office</h5>
                <p>Final project for web development class @ITESM-CEM</p>
            </div>
            <div class="col-sm-4">
                <h5 class="text-uppercase">Repo</h5>
                <ul class="list-unstyled">
                    <li>
                    <a href="https://github.com/AplicacionesWeb2018/back-office">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="/products">KOTÁSEK - CASTILLO</a>
    </div>
    </footer>
